<nav class="navbar">
  <%= image_tag 'logo_transparent.png', alt: 'logo', style: "width: 150px"%>
  <%= link_to "Me contacter", @contact, class: "button-contact" %>
</nav>
<div style="display: flex; justify-content: space-between">

</div>

<h1>Développeur Fullstack</h1>
<h3>Je code et design un tas de choses, et j'adore ce que je fais</h3>
<%= image_tag 'photo_profile.jpg', alt: "photo de profil", class: "photo-profile"%>
<p>Salut, je suis Quentin. Ravie de te rencontrer</p>
<p>Depuis que j'ai commencé le développement web j'ai coder et appris un tas de choses, j'ai d'abord appris en autodidacte en codant des sites web pour m'amuser. Puis j'ai éffectuer un bootcamp de développeur web full stack dans l'école Le Wagon qui m'a permis d'évoluer, de me perfectionner et d'acquérir la certification de concepteur développeur d'application web. Je suis naturellement curieux et je m'efforce constamment d'améliorer mes compétences et d'en apprendre de nouvelles</p>
