<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h1>Nouveau message de contact</h1>
  <p>Nom : <%= @contact.name %></p>
  <p>Email : <%= @contact.email %></p>
  <p>Message : <%= @contact.message %></p>
</body>
</html>
